@model InscripcionWeb.Models.Carrera

@{ ViewData["Title"] = "Eliminacion definitiva"; }

<h1>Eliminacion definitiva</h1>

<h3>Esta seguro que quiere eliminar de forma definitiva a esta carrera? </h3>
<div>
    <h4>Carrera</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>

    <form asp-action="Eliminaciondefinitiva">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminacion definitiva" class="btn btn-danger" /> |
        <a asp-action="IndexEliminados">Volver a la listado de eliminados</a>
    </form>
</div>