@model IEnumerable<InscripcionWeb.Models.Carrera>

@{ ViewData["Title"] = "Carreras eliminadas"; }

<h1>Carreras elimnadas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Restaurar" asp-route-id="@item.Id">Restaurar</a>
            </td>
            <td>
                <a asp-action="EliminacionDefinitiva" asp-route-id="@item.Id">Eliminacion definitiva</a>
            </td>
        </tr>}
    </tbody>
</table>