@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inscripcion a materias Isp 20</h1>
    <p>Para mas informacion visite <a href="https://www.isp20.edu.ar">nuestro sitio web</a>.</p>
</div>
